.contact-section{

padding:100px 0;

background:#0f172a;

color:white;

}

/* TITLE */

.contact-title{

font-size:38px;

font-weight:600;

margin-bottom:15px;

}

/* SUBTEXT */

.contact-sub{

color:#cbd5e1;

margin-bottom:50px;

}

/* CARD */

.contact-card{

background:#1e293b;

padding:30px;

border-radius:10px;

text-align:center;

transition:0.3s;

}

.contact-card:hover{

transform:translateY(-8px);

background:#334155;

}

/* ICON */

.contact-icon{

font-size:32px;

margin-bottom:10px;

color:#facc15;

}

/* SOCIAL */

.social-links{

margin-top:40px;

font-size:28px;

}

.social-links a{

margin:0 15px;

color:white;

transition:0.3s;

}

.social-links a:hover{

color:#facc15;

}