.hero-section{

height:100vh;

background-image:
url("https://images.unsplash.com/photo-1555066931-4365d14bab8c");

background-size:cover;
background-position:center;

position:relative;

}

/* OVERLAY */

.hero-overlay{

position:absolute;
width:100%;
height:100%;

background:rgba(0,0,0,0.85);

display:flex;
align-items:center;
justify-content:center;

color:white;

}

/* NAME */

.hero-name{

font-size:70px;
font-weight:bold;

}

.hero-name span{

color:#facc15;

}

/* ROLE */

.hero-role{

margin-top:10px;

font-size:28px;

color:#facc15;

min-height:40px;

}

/* DESCRIPTION */

.hero-desc{

margin-top:20px;
max-width:600px;
margin-left:auto;
margin-right:auto;

color:#d1d5db;

}

/* BUTTONS */

.hero-buttons{

margin-top:30px;

}


/* FLOATING ICONS */

.tech-icons{

position:absolute;
width:100%;
height:100%;
top:0;
left:0;

pointer-events:none;

}

.icon{

position:absolute;
font-size:40px;

opacity:0.2;

animation:float 6s infinite ease-in-out;

}

/* ICON POSITIONS */

.react{
top:15%;
left:10%;
color:#61DBFB;
}

.node{
top:70%;
left:20%;
color:#68A063;
}

.js{
top:20%;
right:10%;
color:#f7df1e;
}

.html{
bottom:20%;
right:15%;
color:#e34c26;
}

.css{
bottom:10%;
left:40%;
color:#264de4;
}

.mongo{
top:60%;
right:30%;
color:#4db33d;
}

/* FLOAT ANIMATION */

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0px);
}

}